<div class="itineraries-container">
    <h2>My Itineraries</h2>
  
    <div class="itinerary-grid">
      <app-itinerary-form></app-itinerary-form>
      <ng-container *ngIf="itineraries.length; else noItineraries">
        <div *ngFor="let itinerary of itineraries" class="itinerary-card">
          <h3>{{ itinerary.title }}</h3>
          <p><strong>Destination:</strong> {{ itinerary.destination }}</p>
          <p>{{ itinerary.description }}</p>
          <button (click)="viewItinerary(itinerary.id)">View Details</button>
          <button (click)="deleteItinerary(itinerary.id)">Delete</button>
        </div>
      </ng-container>
    
    </div>
  
    <ng-template #noItineraries>
      <p>You haven't created any itineraries yet.</p>
    </ng-template>
</div>