<div class="register-container">
    <h2>User Registration</h2>
  
    <form [formGroup]="userForm" (ngSubmit)="registerUser()">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" formControlName="firstName" placeholder="First Name">
      </div>

      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" formControlName="lastName" placeholder="Last Name">
      </div>

      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" formControlName="username" placeholder="Username">
      </div>
  
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" formControlName="email" placeholder="Email">
        <small *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.dirty" class="error">
          Enter a valid email.
        </small>
      </div>
  
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" formControlName="password" placeholder="Password">
      </div>
  
      <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" formControlName="confirmPassword" placeholder="Confirm password">
        <div *ngIf="userForm.hasError('passwordsMismatch') && userForm.get('confirmPassword')?.dirty" class="error">
          Passwords do not match.
        </div>
      </div>
  
      <button type="submit" [disabled]="isSubmitting() || userForm.invalid">Register</button>
    </form>
  
    <p>Already have an account? <a (click)="login()">Login</a></p>
</div>